* {
  padding: 10px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  /* background: linear-gradient(to right, #40ed60, #3cdafa, yellow); */
  background: #fff;
}

.row {
  display: flex;
}

.card{
  width: 30rem;
  height: 20rem;
  border-radius: 20px;

  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 10px gray;


  display: flex;
  flex-direction: column;
}

.card > h1, p {
  color: rgba(0, 0, 0, 0.6);
  padding-left: 20px;
}

#folder , #url {
  opacity: 0.6;
  width: 1.5rem;
}

section {
  display: flex;
  justify-content: space-between;
}